@import url('https://fonts.googleapis.com/css2?family=Slackey&family=Zain:ital,wght@0,200;0,300;0,400;0,700;0,800;0,900;1,300;1,400&display=swap');

:root{
    --primary-color: #151c4b;
    --secondary-color: #f4f4f8;

    --main-text: "Slackey", sans-serif;
    --body-text: "Zain", serif;
}

header{
    margin: 10px;
    margin-bottom: 0;
    padding: 10px;
    border-bottom: 1px solid;
    text-align: center;
}

header h1 {
    font-family: var(--main-text);
    font-size: 4rem;
}

body {
    font-family: var(--body-text);
    color: var(--primary-color);
    background: linear-gradient(-150deg, #FF724C, #FDBF50);
}

nav {
    text-align: right;
}

nav a {
    font-size: 1.3rem;
    font-family: var(--body-text);
    text-decoration: none;
    padding: 15px;
    color: var(--primary-color);
}

nav a:hover {
    font-size: 1.4rem;
}

.meal-card {
    display: grid;
    grid-template-columns: 1fr 4fr;
    padding: 0;
    margin: 10px;
    border: 2px solid;
}

.meal-card h2 {
    font-family: var(--main-text);
    font-size: 1.5rem;
    padding: 20px;
}

.meal-card h4 {
    font-size: 1.3rem;
    font-family: var(--main-text);
}

.card-header {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    text-align: center;
    padding: 50px;
}

.meals {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    background-color: var(--secondary-color);
}

.add-button {
    cursor: pointer;
    background-color: #FDBF50;
    border: 1px solid var(--primary-color);
}

.add-button:hover {
    font-size: .9rem;
}

footer {
    text-align: center;
    color: var(--primary-color);
    padding: 20px;
}