header{
    border-bottom: 1px solid;
}



.weekly-planner {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.weekly-planner h1 {
    text-align: center;
    font-size: 3.5rem;
    grid-column: 1/4;
}

.card {
    border: 1px solid;
}

.card-header {
    grid-column: 1/2;
    border: 1px solid;
}

.card-content {
    grid-column: 2/4;
}