ul {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    div {
        max-width: 20%;
    }
}

.favoriteTitle {
    font-family: var(--main-font);
    color: var(--main-color);
    position: absolute;
    top: 85px;
    left: 50%;
    transform: translate(-50%, -50%);
}