@import url('https://fonts.googleapis.com/css2?family=Slackey&family=Zain:ital,wght@0,200;0,300;0,400;0,700;0,800;0,900;1,300;1,400&display=swap');
body{
    font-family: 'Zain', italic;
}

h1{
    font-family: 'Slackey', sans-serif;
}

#recipe-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
}
.recipe {
    border: 1px solid #ddd;
    padding: 15px;
    border-radius: 8px;
    text-align: center;
}
.recipe img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}