@import url('https://fonts.googleapis.com/css2?family=Slackey&family=Zain:ital,wght@0,200;0,300;0,400;0,700;0,800;0,900;1,300;1,400&display=swap');

:root {
    --main-font: 'slackey', sans-serif;
    --body-font: 'Zain', sans-serif;
    --main-color: #151C4B;
    --color-white: #F4F4F8;
    --color-orange: #FF724C;
    --color-yellow: #FDBF50;
}

body {
    margin-bottom: 100px;
}

h1 {
    font-family: var(--main-font); 
    text-align: center;
    color: var(--main-color);
}

h2 {
    font-family: var(--main-font); 
    text-align: left;
    color: var(--main-color);
}

nav {
    display: flex;
    flex-direction: row;
    gap: 50px;
    text-align: center;
    justify-content: center;
    font-family: var(--body-font);
    a {
        font-size: 20px;
        padding: 5px;
        transition: background-color 0.3s ease;
        text-decoration: none;
        color: var(--main-color);
    }
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: var(--main-color);
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: var(--color-white);
    padding: 10px 0;
}

#recipe-container {
    display: flex;
    flex-direction: row;
    gap: 20px;
    /* display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); */
}
.recipe {
    border: 1px solid #ddd;
    padding: 15px;
    border-radius: 8px;
    text-align: center;

    /* placeholder css */
    border: 1px solid black;
    width: 400px;
    height: 400px;

}
.recipe img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

body {
    display: flex;
    flex-direction: column;
}