@import './universal.css';

header{
    margin: 10px;
    margin-bottom: 0;
    padding: 30px;
    border-bottom: 1px solid;
    text-align: center;
}

h1 {
    padding: 25px;
}

.planner {
    font-family: var(--main-font);
    position: absolute;
    margin-top: 80px;
    margin-left: 100px;
}

body {
    font-family: var(--body-font);
    color: var(--main-color);
    background: linear-gradient(-150deg, #FF724C, #FDBF50);
}


.meal-card {
    display: grid;
    grid-template-columns: 1fr;
    padding: 0;
    margin: 20px;
    border: 2px solid;
}

.meal-card h2 {
    font-family: var(--main-font);
}

.meal-card h4 {
    font-family: var(--main-font);
    font-size: 1.3rem;
    margin-top: 0;

}

.card-header {
    background-color: var(--main-color);
    color: var(--color-white);
    text-align: center;
    padding: 50px;
}

.meals {
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
    background-color: var(--color-white);
    padding: 15px;
}

.add-button {
    cursor: pointer;
    background-color: var(--color-yellow);
    border: 1px solid var(--main-color);
    margin-bottom: 15px;
}

.add-button:hover {
    font-size: .9rem;
}

/* Larger Views ******************************/
@media only screen and (min-width: 768px) {

    h1{
        position: absolute;
        font-size: 3rem;
        padding: 10px;
    }

    .planner {
        margin-left: 30px;
    }
        
    .meal-card {
        grid-template-columns: 1fr 4fr;
    }
    .meals{
        grid-template-columns: 1fr 1fr 1fr;
    }
}