@import url('https://fonts.googleapis.com/css2?family=Slackey&family=Zain:ital,wght@0,200;0,300;0,400;0,700;0,800;0,900;1,300;1,400&display=swap');

:root {
    --main-font: 'slackey', sans-serif;
    --body-font: 'Zain', sans-serif;
    --main-color: #151C4B;
    --color-white: #F4F4F8;
    --color-orange: #FF724C;
    --color-yellow: #FDBF50;
}

html {
    height: 100%;
}

body {
    margin-bottom: 100px;
    background: linear-gradient(to bottom, var(--color-orange), var(--color-yellow));
}

.addButton, .removeButton, .removeBtn, .recipe a {
    background-color: var(--main-color);
    color: var(--color-white);
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    font-family: var(--body-font);
    font-size: 16px;
    text-decoration: none;
    width: fit-content;
    align-self: center;
}

.buttonGroup {
    display: flex;
    gap: 5px;
    flex-direction: column;
    align-self: center;
    justify-items: flex-end;
    margin-top: auto;
}

  
